<h1>Subscription details.</h1>
<br>
<h2>Subscription plan</h2>
<% if @current_user.individual_account.subscribed? %>
  <p><%= @current_user.individual_account.plan %></p>
<% else %>
  <%= link_to(subscription_path) %>
<% end %>